@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(variables.css);

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--segundoColor);
}

body{
    background-color: var(--tercerColor);
}

/* Personalizacion header */

header{
    height: 10vh;
    background: var(--quintoColor);
    display: flex;
    justify-content: end;
    align-items: center;
}

header div{
    display: flex;
    text-align: center;
    margin: 0.4rem;
    background-color: var(--segundoColor);
    border: 0.1rem solid var(--primerColor);
}

header i{
    color: var(--primerColor);
    width: 1.5rem;
    height: 1.2rem;
    
}

/* Personalizacion nav */

nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foods{
    font-size: larger;
    margin-left: 3rem;
    color: var(--primerColor);
}

.links{
    margin-right: 2rem;
    color: var(--segundoColor);
}

.links a{
    margin: 0 0.5rem
}

.links a:hover{
    border: 0.1rem solid var(--primerColor);
    border-radius: 0.5rem;
}

/* Personalizacion home */

.home{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.home article{
    font-size: medium;
    margin-bottom: 4rem;
}

.full-website{
    color: var(--primerColor);
    font-size: 3rem;
}

.home img{
    margin-bottom: 4rem;
    width: 15rem;
    height: 15rem;
}

.home button{
    background-color: var(--primerColor);
    border-style: hidden;
}

/* Personalizacion aboutUs */

.aboutUs{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.aboutUs img{
    width: 15rem;
    height: 19rem;
    margin-bottom: 4rem;
}

.aboutUs article{
    width: 20rem;
    margin-bottom: 6rem;
}

.aboutUs .titulo{
    color: var(--primerColor);
    font-size: medium;
}
.aboutUs .subtitulo{
    font-size: xx-large;
}

.aboutUs .contenido{
    font-size: medium;
}

.aboutUs button{
    background-color: var(--primerColor);
    border-style: hidden;
    margin-top: 1rem;
}

/* Personalizacion food Menu */

.foodMenu{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
    margin-bottom: 5rem;
}

.foodMenu .titulo{
    font-size: medium;
    color: var(--primerColor);
}

.foodMenu .descripcion{
    font-size: xx-large;
}

.cards-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem; 
}

.foodMenu .card{
    background-color: var(--quintoColor);
    border-radius: 0.5rem;
    width: 10rem;
    height: 15rem;
}

.foodMenu .card img{
    width: 9rem;
    height: 9rem;
}

.foodMenu .card .nombre{
    font-size: small;
    color: var(--cuartoColor);
}

.foodMenu .card .clase{
    font-size: x-small;
    color: var(--cuartoColor);
}

.foodMenu .card .valor{
    font-size: xx-small;
    color: var(--primerColor);
}
/* .foodMenu .pollo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
} */
.foodMenu .pollo img{
    margin-top:1rem ;
    margin-bottom: 1rem;
    height: 7rem;
}

.foodMenu .card .container-check{
    background-color: var(--quintoColor);
    display: flex;
    justify-content: end;
}

.container-check div{
    background-color: var(--primerColor);
    width: 1.5rem;
}

/* Personalizacion servicios*/

.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
}

.servicios .cards-container img{
    width: 7rem;
    height: 7rem;
}

.servicios .card{
    margin: 0 -1rem;
}

.servicios .titulo{
    font-size: medium;
    color: var(--primerColor);
}

.servicios .descripcion{
    font-size: xx-large;
}

.servicios .card .nombre{
    font-size: large;
    color: var(--primerColor);
    margin-bottom: 1rem;
}

.servicios .card .texto{
    width: 17rem;
    font-size: larger;
    margin-bottom: 1rem;
}

/* Personalizacion banner*/

.banner{
    display: flex;
    height: 90vh;
    margin-bottom: 4rem;
    justify-content: space-around;
    align-items: center;
}

.banner article{
    width: 80vw;
    height: 50vh;
    margin-top: 5rem;
    background-color: var(--quintoColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner article div{
    width: 40vw;
    text-align: center;
    color: var(--cuartoColor);
    font-size: xx-large;
}

.banner article button{
    border-style: hidden;
    margin-top: 1rem;
    background-color: var(--primerColor);
}



