@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(variables.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    color: var(--segundoColor);
}

body{
    background-color: var(--tercerColor);
}

body button{
    margin-top: 2rem;
    background-color: var(--primerColor);
    border-style: hidden;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Personalizacion header */

/* header{
    height: 10vh;
    background: var(--quintoColor);
    display: flex;
    justify-content: end;
    align-items: center;
}

header div{
    display: flex;
    text-align: center;
    margin: 0.4rem;
    background-color: var(--segundoColor);
    border: 0.1rem solid var(--primerColor);
}

header i{
    color: var(--primerColor);
    width: 1.5rem;
    height: 1.2rem;
    
} */

/* Personalizacion nav */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 60px;
    padding: 0px 20px;
    padding-left: 60px;
}

nav .contenedor-menu{
    display: none;
}

.foods{
    font-size: 2rem;
    color: var(--primerColor);
}

.links{
    color: var(--segundoColor);
}

.links a{
    font-size: 2rem;
    padding: 0px 30px;
}

.links a:hover{
    border: 0.1rem solid var(--primerColor);
    border-radius: 0.5rem;
}

/* Personalizacion home */

.home{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home div{
    padding: 50px;
}

.home h1{
    color: var(--primerColor);
    font-size: 6rem;
    font-weight: normal;
}

.home p{
    font-size: 2rem;
    font-weight: bold;
}

.home img{
    max-width: 500px;
    width: 100%;
    height: 100%;
}

/* Personalizacion aboutUs */

.aboutUs{
    /* padding: 80px 180px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUs img{
    max-width: 500px;
    width: 100%;
    height: 100%;
}

.aboutUs div{
    margin: 0;
    padding: 50px 50px ;
    width: 40vw;
}

.aboutUs .titulo{
    color: var(--primerColor);
    font-size: 2rem;
}

.aboutUs .subtitulo{
    font-size: 4rem;
    font-weight: bold;
}

.aboutUs .contenido{
    font-size: 2rem;
}

/* Personalizacion food Menu */

.foodMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center
}

.foodMenu .titulo{
    font-size: 2rem;
    color: var(--primerColor);
}

.foodMenu .card img{
    max-width: 500px;
    width: 100%;
}

.foodMenu .descripcion{
    font-size: 3rem;
    font-weight: bold;
}

.cards-container{
    display: flex;
    justify-content: center;
}

.foodMenu .card{
    background-color: var(--quintoColor);
    border-radius: 0.5rem;
    margin: 50px;
    position: relative;
}

.foodMenu .card .nombre{
    font-size: 1.5rem;
    color: var(--cuartoColor);
}

.foodMenu .card .clase{
    font-size: 1.2rem;
    color: var(--cuartoColor);
}

.foodMenu .card .valor{
    font-size: 1rem;
    color: var(--primerColor);
}

.foodMenu .card .container-check{
    background-color: var(--quintoColor);
    display: flex;
    justify-content: end;
    font-size: 2rem;
    position: relative;
}

.container-check div{
    background-color: var(--primerColor);
    width: 3rem;
}

/* Personalizacion servicios*/

.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

.servicios .cards-container img{
    max-width: 300px;
    width: 100%;
}

.servicios .card{
    margin: 20px;
}

.servicios .titulo{
    font-size: 2rem;
    color: var(--primerColor);
}

.servicios .descripcion{
    font-size: 4rem;
}

.servicios .card .nombre{
    font-size: 2rem;
    color: var(--primerColor);
    padding-bottom: 2rem;
}

.servicios .card .texto{
    font-size: 2rem;
    padding-bottom: 2rem;
    /* padding-left: 0.5rem; */
}

/* Personalizacion banner*/

.banner{
    display: flex;
    padding: 4rem 0;
    justify-content: space-around;
    align-items: center;
}

.banner article{
    width: 80vw;
    height: 50vh;
    background-color: var(--quintoColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner article div{
    width: 60vw;
    text-align: center;
    color: var(--cuartoColor);
    font-size: 4rem;
}

.banner article button{
    border-style: hidden;
    margin-top: 1rem;
    background-color: var(--primerColor);
}

/* Personalizacion footer*/

footer{
    display: flex;
    justify-content: center;
}

footer div{
   padding: 30px;
}

footer ul{
    list-style: none;
}

footer .titulo{
    font-size: 2.5rem;
    list-style: none;
}

footer hr{
   border-top: 0.1rem solid var(--primerColor);
   border-bottom: none;
   border-left: none;
   border-right: none;
   margin-bottom: 0.5rem;
   width: 5rem;
}

footer li{
    font-size: 1.5rem;
}

footer li i{
    color: var(--primerColor);
    font-size: 2rem;
}

/* Responsive */

@media(max-width:768px){
    
    /* .links{
        display: flex;
        flex-direction: column;
        background-color: var(--sextoColor);
        width: 100vw;
        position: fixed;
        text-align: center;
        transform: translateX(100%);
    }

    .contenedor-menu:hover .links{
    
        transform: translateX(0%);
        transition: transform 0.4s
    }

    .links a{
        font-size: xx-large;
    } */
    .links{
        display: none;
    }
    /* .foods{
        margin-left: -4rem;
    } */

    .home{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home div{
        margin: 0;
    }

    .home h1{
        font-size: 4rem;
    }

    .home p{
        font-size: 2rem;
    }

    .aboutUs{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .aboutUs div{
        width: 100vw;
    }
    .aboutUs article{
        padding: 50px 100px;
    }
    .aboutUs titulo{
        font-size: 1rem;
    }

    .aboutUs .subtitulo{
        font-size: 2rem;
    }

    .cards-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .foodMenu .descripcion{
        font-size: 2rem;
        width: 80vw;
    }

    .servicios .descripcion{
        font-size: 3rem;
    }

    .banner article div{
        font-size: 2rem;
    }

    .banner article{
        height: 15vh;
        width: 90vw;
    }

    footer{
        flex-direction: column;
        padding: 0 50px;
    }

    footer .contactUs{
        align-self: center;
    }
}